[user]
	name =
	email =
    signingkey =
    useConfigOnly =
[github]

[core]

[color]

[merge]

[status]

[rerere]

[diff]

[commit]

[column]

[push]

[pull]

[help]

[log]

[branch]

[status]

[init]

[delta]

[alias]

[pager]

[commit]

[grep]

[pretty]

[include]

[interactive]

[sendemail]

[format

[status]

[hub]